<div class="container">
    <br>
    <div *ngIf="code == 'Extremadura'" id="Extremadura" class="border border-5" style="width: 100%; height: 450px"></div>
    <div *ngIf="code == 'Andalucia'" id="Andalucia" class="border border-5" style="width: 100%; height: 450px"></div>
    <div *ngIf="code == 'Castilla la Mancha'" id="CastillaMancha" class="border border-5" style="width: 100%; height: 450px"></div>
    <div *ngIf="code == 'Castilla y Leon'" id="CastillaLeon" class="border border-5" style="width: 100%; height: 450px"></div>
    <div *ngIf="code == 'Galicia'" id="Galicia" class="border border-5" style="width: 100%; height: 450px"></div>
    <div *ngIf="code == 'Pais Vasco'" id="Euskadi" class="border border-5" style="width: 100%; height: 450px"></div>
    <div *ngIf="code == 'Aragon'" id="Aragon" class="border border-5" style="width: 100%; height: 450px"></div>
    <div *ngIf="code == 'Cataluña'" id="Cataluña" class="border border-5" style="width: 100%; height: 450px"></div>
    <div *ngIf="code == 'Comunidad Valenciana'" id="Valencia" class="border border-5" style="width: 100%; height: 450px"></div>
    <br>
    <div class = "card-header">
        <h3>Datos del clima de {{code}} </h3>
    </div>
    <div class = "card-body">
        <table class = "table table-hover">
            <thead>
                <tr class = "text-center">
                    <th>Latitud</th>
                    <th>Longitud</th>
                    <th>Direccion</th>
                    <th>Zona Horaria</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr class = "text-center">
                    <td>{{result.latitude}}</td>
                    <td>{{result.longitude}}</td>
                    <td>{{result.address}}</td>
                    <td>{{result.timezone}}</td>
                    <td>{{result.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class = "card-header">
        <h3>Datos del clima de {{code}} en los próximos 14 días</h3>
    </div>
    <div class = "card-body">
        <table class = "table table-hover">
            <thead>
                <tr class = "text-center">
                    <th>Día</th>
                    <th>Temperatura máxima</th>
                    <th>Temperatura mínima</th>
                    <th>Sensación térmica</th>
                    <th>Humedad</th>
                    <th>Probabiliad de precipitaciones</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let day of result.days" class = "text-center">
                    <td>{{day.datetime}}</td>
                    <td>{{((day.tempmax- 32) * 5/9).toFixed(2)}}ºC</td>
                    <td>{{((day.tempmin - 32) * 5/9).toFixed(2)}}ºC</td>
                    <td>{{((day.feelslike - 32) * 5/9).toFixed(2)}}ºC</td>
                    <td>{{day.humidity}}%</td>
                    <td>{{day.precipprob}}%</td>
                    <td>{{day.description}}</td>
                    <td>
                        <img *ngIf="day.icon == 'wind'" class="icons" src="./assets/icons/sol-nube.png">
                        <img *ngIf="day.icon == 'cloudy'" class="icons" src="./assets/icons/nube.png">
                        <img *ngIf="day.icon == 'rain'" class="icons" src="./assets/icons/lluvia.png">
                        <img *ngIf="day.icon == 'partly-cloudy-day'" class="icons" src="./assets/icons/sol-nube.png">
                        <img *ngIf="day.icon == 'clear-day'" class="icons" src="./assets/icons/sol.png">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>