<div class="container">
  <br>
  <div class="toolbar" role="banner">
    <img
      width="40"
      alt="Climate Logo"
      src="favicon.ico"
    />
    <span>Bienvenido a Climate</span>
  </div>
  <br>
  <div class="btn-group">
    <button (click)="Listar()" class="btn btn-outline-primary"> Clima en España </button>
    <button *ngIf="x == 'no_home'" (click)="Home()" class="btn btn-outline-primary"> Home </button>
  </div>
  <br>
  <br>
  <p *ngIf="x == 'home'" class="h6">Puedes ver el clima de cada comunidad autónoma clickando en ella: </p>
  <div *ngIf="x == 'home'" id="es-map" class="border border-5" style="width: 100%; height: 450px"></div>
</div>

<router-outlet></router-outlet>
